body {
    overflow: hidden;
}

body.loaded {
    overflow: auto;
}

.load-animation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10002;
}

.gladiol-loader {
  display: block;
  width: 150px;
  height: 150px;
  position: relative;
  animation: loader 2s infinite ease;
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
}